{% extends "layout.html" %}

{% block content %}
<h1>Hi, {{g.user.nickname}}!</h1>
<a href="{{url_for('user', nickname=g.user.nickname)}}">Check progress</a>
	
	<form name="track-duration" id="record-duration" action="" method= "post">
		{{duration_form.hidden_tag()}}
		<label>Choose a task to work on:
			<select name="active_task">
				{% for task in tasks %}
				<option value="{{ task.id }}">{{ task.task_name }}</option>
				{% endfor %}
			</select>
		</label>

		<div class="moment">
			<div id="start-time" onClick="start()">Start</div>
			<div id="stop-time" onClick="stop()">Stop</div>
			<div id="time-spent" onClick="timeSpent()">Total</div>
		</div>
			
		<!-- the following input is where the duration value (from the time-spent function) is going -->
		<input type="hidden" id="duration" name="duration" value="" />
		<input type="hidden" id="active_task" name="active_task" value="" />
		<input type="submit" value="Save"/>
	</form>

	
	<form action="" method= "post" name="task">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<td>Add a new task: </td>
				<td>{{ form.task(size=30, maxlength=140) }}</td>
				<td>
					<span style="color: red;">[{{error}}]</span><br>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Add!"></td>
				<td></td>
			</tr>
		</table>
	</form>

	<h3>Tasks:</h3>

	{% for task in tasks %}
		<strong>Task:</strong> {{task.task_name}} <br/>
		<strong>Duration:</strong>{{worklogs[task]}}<br/>
		<br/>
	{% endfor %}
	
	<script>

	var now;
	var startTime;
	var stopTime;
	var duration;

	function currentTime(){
		now = moment();
		return now;
	}

	function start(){
		startTime = currentTime();
		document.getElementById('start-time').innerHTML= "Start time: " + startTime.format('HH:mm:ss');
		return startTime;
	}

	function stop(){
		stopTime = currentTime();
		document.getElementById('stop-time').innerHTML= "Stop time: " + stopTime.format('HH:mm:ss');
		return stopTime;
	}

	function timeSpent(){
		duration= stopTime.diff(startTime,'minutes');
		document.getElementById('duration').value = duration;
		// document.getElementById('record-duration').submit();
		document.getElementById('time-spent').innerHTML= "Time spent on task: " + duration + " minutes";
		return duration;
	}

	</script>

	</div>

{% endblock %}