{% extends "layout.html" %}

{% block content %}
	<div class="jumbo">
		<h2>Work hard. Work smart. Work Smore.</hr>
	<h3>Get to it! Start the timer, work on your project, and earn your sweet rewards!</h3>
	</div>
	
	<div class="moment">
		<div id="start-time" onClick="start()">Start</div>
		<div id="stop-time" onClick="stop()">Stop</div>
		<div id="time-spent" onClick="timeSpent()">Total</div>
	</div>


	<br/>
	<br/>
	<h3>Tasks:</h3>
	{% for t in tasks %}
	<strong>Task:</strong> {{ t.task_name }} <br/>
	<strong>Duration:</strong> {{ t.duration }} <br/>
	<br/>
	{% endfor %}
	
	<script>

	var now;
	var startTime;
	var stopTime;
	var duration;

	function currentTime(){
		now = moment();
		return now;
	}

	function start(){
		startTime = currentTime();
		document.getElementById('start-time').innerHTML= "Start time: " + startTime.format('HH:mm:ss');
		return startTime;
	}

	function stop(){
		stopTime = currentTime();
		document.getElementById('stop-time').innerHTML= "Stop time: " + stopTime.format('HH:mm:ss');
		return stopTime;
	}

	function timeSpent(){
		duration= stopTime.diff(startTime,'minutes');
		document.getElementById('time-spent').innerHTML= "Time spent on task: " + duration + " minutes";
		return duration;
	}


	</script>

	</div>

{% endblock %}